
<div>
    <br>
        <div style="text-align-last: right;">
            <button (click) = "logout()" class="btn btn-primary" style="text-align: right"> LOGOUT</button>
        </div>
</div>
<div>
        
    <button button (click) = "addEmployee()" class="btn btn-success" style="text-align: center;"> ADDEMPLOYEE</button>

</div>
<br>
<nav class="container">
    <ul class = "navbar-nav">
       
    <br>
    </ul>
</nav>
<div class = "row">
    <b><h4 style="color: indigo;"> ALL EMPLOYEES DETAILS : </h4></b>
</div>
<div>

</div>

<div>
<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> ID</th>
            <th> EmployeeId</th>
            <th> EmployeeName </th>
            <th> Password</th>
            <th> PhoneNum </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees">
            <td> {{ employee.id }} </td>
            <td> {{ employee.userId }} </td>
            <td> {{ employee.name }} </td>
            <td> {{ employee.password }} </td>
            <td> {{ employee.phoneNum }} </td>
            <td style="text-align: center;">
                <button (click) = "updateEmployee(employee.id)" class = "btn btn-success" style="text-align: center;"> Update</button>
                <button (click) = "employeeDetails(employee.id)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
                <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>

</div>


