<div>
    <br>
        <div style="text-align-last: right;">
            <button (click) = "logout()" class="btn btn-primary" style="text-align: right"> LOGOUT</button>
        </div>
</div>
<div>
    <button (click) = "back()" class="btn btn-primary" style="text-align: right"> BACK</button>
</div>
<br>
<br>

<h3> Employee Details</h3>
<div>
    <div>
        <label> <b> Id: </b></label> {{employee.id}}
    </div>
    <div>
    <div>
        <label> <b> EmployeeId: </b></label> {{employee.userId}}
    </div>
    <div>
        <label> <b> EmployeeName: </b></label> {{employee.name}}
    </div>
    <div>
        <label> <b> Password: </b></label> {{employee.password}}
    </div>
    <div>
        <label> <b> PhoneNum: </b></label> {{employee.phoneNum}}
    </div>

    
</div>


